<html>
    <head><link href="/assets/style.css" type="text/css" rel="stylesheet"/></head>
    <body>
           <p>Reg message: <%= message %></p>
           <p>Reg UUID : <%= reguuid %></p>
           <a href="http://piregistration.5z6qfwbuaa.us-east-1.elasticbeanstalk.com/pi/uuid/<%= reguuid %>">http://piregistration.5z6qfwbuaa.us-east-1.elasticbeanstalk.com/pi/uuid/<%= reguuid %></a>
    </body>
</html>